.col-right {
    width: 75%;
    position: relative;
    @media screen and (max-width: 767px){
        width: 100%;
        position: static;
    }
}
.para-content {
    // padding: 0 15px;

    .content {
        position: relative;
        padding: 100px 20px;
        color: #ffffff;
        width: 100%;
        position: relative;
        z-index: 1;
        &.technical {
            .details {
                .skill-lists {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        min-width: 200px;
                        list-style-type: none;
                        margin: 10px 15px;

                        .progress {
                            border-radius: 0;
                            height: 7px;
                        }
                    }
                }
            }
        }
        .timeline-headline,
        .timeline-detail {
            color: #272121;
        }
        .timeline-detail {
            background-color: rgba($color: #ffffff, $alpha: 0.8);
            padding: 10px 20px;
        }
        .timeline-headline {
            margin-bottom: 16px;
            background-color: rgba($color: #ffffff, $alpha: .8);
            padding: 5px 10px;
            display: inline-block;
        }
        .timeline--animate {
            color: #f5f0e3 !important;
            .title {
                color: #01d28e;
                &:before {
                    background-color: #01d28e !important;
                }
            }
        }
    }
}