@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=vietnamese');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1.title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  background-color: rgba($color: #ffffff, $alpha: .8);
  padding: 5px 10px;
  color: #272121;
}
.container-fluid {
  .col-lg-3,
  .col-lg-9 {
    padding: 0;
  }
}
.custom-container {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px){
    flex-direction: column;
  }
}
